In [128]:
import pandas as pd

#set year
year = 2019

In [129]:

#read in csv and put to data frames
fang_path = 'C:\\Users\\laine\\Google Drive\\Google Drive\\Baseball_stats\\fb_pitcher_fangrahps_stats_' + str(year) + '.csv'
espn_path = 'C:\\Users\\laine\\Google Drive\\Google Drive\\Baseball_stats\\fb_pitcher_espn_stats_' + str(year) + '.csv'

fang_df1 = pd.read_csv(fang_path)
espn_df1 = pd.read_csv(espn_path)

#check how data is looking
print(fang_df.head())

espn_df.head()

   level_0  index  Index  Season              Name     Team   Age     W    L  \
0        0      0     98  2019.0        Josh Hader  Brewers  25.0   3.0  5.0
1        1      1     94  2019.0       Gerrit Cole   Astros  28.0  20.0  5.0
2        2      2     96  2019.0  Justin Verlander   Astros  36.0  21.0  6.0
3        3      3     40  2019.0       Kirby Yates   Padres  32.0   0.0  5.0
4        4      4    100  2019.0     Roberto Osuna   Astros  24.0   4.0  3.0

    ERA  ...  HR/FB   IFH%   BUH%  Starting  Start-IP  Relieving  Relief-IP  \
0  2.62  ...  0.214  0.000  0.000       NaN       NaN       22.7       75.2
1  2.50  ...  0.169  0.063  0.333      69.7     212.1        NaN        NaN
2  2.58  ...  0.160  0.034  0.000      61.4     223.0        NaN        NaN
3  1.19  ...  0.048  0.121  0.000       NaN       NaN       33.5       60.2
4  2.63  ...  0.123  0.047  0.000       NaN       NaN       16.2       65.0

   index_sort    First       Last
0      605.97     Josh      Hader
1      599.31   Gerrit       Cole
2      594.30   Justin  Verlander
3      587.47    Kirby      Yates
4      542.00  Roberto      Osuna

[5 rows x 63 columns]

,Index,PLAYER,TEAM,GP,GS,IP,H,R,ER,BB,...,SF,HBP,GDP,WP,BK,QS,QS%,FIRST,LAST,index_sort
0,104,Josh Hader,MIL,61,0,75.2,41,24,22,20,...,0,4,2,0,0,0,0.00,Josh,Hader,605.97
1,100,Gerrit Cole,HOU,33,33,212.1,142,66,59,48,...,3,3,7,4,3,26,0.79,Gerrit,Cole,599.31
2,102,Justin Verlander,HOU,34,34,223.0,137,66,64,42,...,2,6,7,4,0,26,0.76,Justin,Verlander,594.30
3,46,Kirby Yates,SD,60,0,60.2,41,14,8,13,...,1,7,4,2,0,0,0.00,Kirby,Yates,587.47
4,106,Roberto Osuna,HOU,66,0,65.0,45,20,19,12,...,1,2,2,1,0,0,0.00,Roberto,Osuna,542.00

In [130]:
#get dataframes ready for merge
#fang_df1.reset_index(inplace=True)
#espn_df.reset_index(drop=True)

espn_df2 = espn_df1.drop(['Index','TEAM','W','L', \
                          'ERA','GS','CG','SV','IP','H','R','ER','BB','HBP','WP','BK','SO','WHIP'], axis=1)

#print(espn_df2.columns)
#merge dataframes
merge_df1 = fang_df1.merge(espn_df2, left_on=['index_sort'], right_on=['index_sort'])

merge_df1['f_points'] =         \
     ((merge_df2['G']  * 1)   + \
     (merge_df2['W']   * 2)   + \
     (merge_df2['IP']  * 1.5) + \
     (merge_df2['SO']  * 1)   + \
     (merge_df2['CG']  * 2)   + \
     (merge_df2['QS']  * 2)   + \
     (merge_df2['SHO'] * 3)   + \
     (merge_df2['SV']  * 5)   + \
     (merge_df2['HLD'] * 4))

#clean up dataframe
merge_df1['Year'] = str(year)
merge_df1.rename(columns={'FIRST':'First', 'LAST':'Last'})

merge_df2 = merge_df1[['Year','First','Last','Team','f_points','Age','G','GS','IP','SO','CG','QS','W','L','ShO','SV','HLD','BS', \
                       'BB','IBB','HBP','ERA','H','R','ER','HR','K/9','BB/9','K/BB','H/9','HR/9','WP','BK', \
                       'GB','FB','LD','IFFB','Balls','Strikes','Pitches','RS','IFH','BU','BUH','AVG', \
                       'WHIP','BABIP', 'LOB%', 'FIP', 'GB/FB','LD%','GB%','IFFB%','HR/FB','IFH%','BUH%', \
                       'Starting','Start-IP','Relieving','Relief-IP','BLSV','WAR','SHO','TBF','GF', \
                       'SVO','SH','SF','GDP','QS%']]

merge_df2 = merge_df2.sort_values(by=['f_points'], ascending=False)
     
print(merge_df2.columns)
print(merge_df2.head())

Index(['Year', 'First', 'Last', 'Team', 'f_points', 'Age', 'G', 'GS', 'IP',
       'SO', 'CG', 'QS', 'W', 'L', 'ShO', 'SV', 'HLD', 'BS', 'BB', 'IBB',
       'HBP', 'ERA', 'H', 'R', 'ER', 'HR', 'K/9', 'BB/9', 'K/BB', 'H/9',
       'HR/9', 'WP', 'BK', 'GB', 'FB', 'LD', 'IFFB', 'Balls', 'Strikes',
       'Pitches', 'RS', 'IFH', 'BU', 'BUH', 'AVG', 'WHIP', 'BABIP', 'LOB%',
       'FIP', 'GB/FB', 'LD%', 'GB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%',
       'Starting', 'Start-IP', 'Relieving', 'Relief-IP', 'BLSV', 'WAR', 'SHO',
       'TBF', 'GF', 'SVO', 'SH', 'SF', 'GDP', 'QS%'],
      dtype='object')
    Year    First       Last       Team  f_points   Age     G    GS     IP  \
4   2016      Max   Scherzer  Nationals    754.15  31.0  34.0  34.0  228.1
9   2016   Justin  Verlander     Tigers    718.80  33.0  34.0  34.0  227.2
7   2016  Madison  Bumgarner     Giants    715.30  26.0  34.0  34.0  226.2
11  2016    Chris       Sale  White Sox    699.30  27.0  32.0  32.0  226.2
14  2016    David      Price    Red Sox    690.00  30.0  35.0  35.0  230.0

       SO  ...  BLSV  WAR  SHO  TBF  GF  SVO  SH  SF  GDP   QS%
4   284.0  ...     0  6.2    0  902   0    0   7   3    6  0.76
9   254.0  ...     0  6.6    0  903   0    0   4   7    8  0.79
7   251.0  ...     0  5.0    1  912   0    0   3   6   15  0.74
11  233.0  ...     0  4.9    1  907   0    0   5   3   16  0.72
14  228.0  ...     0  3.0    0  951   0    0   8   7   19  0.63

[5 rows x 70 columns]

In [131]:
#put df to csv
merge_df2.to_csv('C:\\Users\\laine\\Google Drive\\Google Drive\\Baseball_stats\\fb_pitcher_stats_' + str(year) + '.csv', encoding='utf-8', index=False, index_label='Index')